*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  line-height: 2.125rem;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
  background-image: url("../images/creampaper.png");
}

h1,h2,h3 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-weight: 700;
	color: #4aaaa5;
}

h2, p {
	margin-bottom: 1.25rem;
}

p:last-child {
	margin-bottom: 0;
}

a {
  text-decoration: none;
}

header {
	background-color: #fff;
	margin-bottom: 2rem;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	width: 100%;
}

.container {
	margin: 0 auto;
}

.container, 
main {
	width: 100%;
	max-width: 960px;
	/* clear: both; */
}

.logo {
	width: 20rem;
	float: left;
	font-size: 1.875rem;
	line-height: 5.625rem;
	text-align: center;	
	color: #fff;
  background-color: #4aaaa5;
}

nav {
	float: right;
	line-height: 5.625rem;
	text-align: center;
}

nav a {
	color: #999;
	padding-left: 15px;
	border-left: 1px solid #efefef;
	margin-left: 15px;
	line-height: 1.125rem;
}

nav a:first-child {
	padding-left: 0;
  border-left: 0 none;
	margin-left: 0;
}

main {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  margin: 0 auto 6rem auto;
  overflow: auto;
}

main h2 {
  font-size: 1.875rem;
  line-height: 3rem;
  padding-bottom: 1.25rem; 
  border-bottom: 3px solid #ddd;
}

footer {
  color: #ccc;
  background-color: #666;
  border-top: 8px solid #4aaaa5;
  
  font-size: .75rem;
  line-height: 3rem;
  text-align: center;

  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

/* page specific */

/* about me */
.aboutme-img {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 200px;
  height: auto;
}

/* portfolio */
.placeholder {
  width: 33.33%;
  /* background-color: grey; */
  padding: 10px;
  float: left;
}

.img-holder {
  position: relative;
  width: 100%;
}

.project-img {
  width: 100%;
}

.img-holder h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #fff;
  background-color: #4aaaa5;
  padding: 15px;
  font-weight: 300;
  line-height: 1.875rem;
  text-align: center;
}

/* contact */

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  font-size: 14px;
  height: 35px;
}

textarea {
  height: 200px
}

input[type=submit] {
  background-color: #4aaaa5;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 30px;
  cursor: pointer;
}

textarea {
  resize: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: .8; /* Firefox */
}


@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {
  .container, main {
    max-width: 748px;
  }
  .col-md {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 640px;
  }
  main {
    max-width: 600px;
  }
  .col-sm {
    width: 100%;
  }

}

